footer
  div.footer-nav
    ul
      li 
        a(href="#") Sobre nosotros
      li 
        a(href="#") Contacto
      li 
        a(href="#") Política de privacidad
  
  div.copywrite
    - var currentYear = new Date().getFullYear();
    p !{"© " + currentYear + " Ricardo M. Díaz"} 